In [34]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder.master("yarn")
    .config("hive.metastore.uris", "thrift://hive-metastore:9083")
    .enableHiveSupport().getOrCreate())
print("Spark Version:", spark.version)

Spark Version: 3.5.0

In [35]:
# Data and schema
data = [(1, "Alice"), (2, "Bob"), (3, "Cathy")]
columns = ["ID", "Name"]

# Create DataFrame
df = spark.createDataFrame(data, schema=columns)
df.show()

+---+-----+
| ID| Name|
+---+-----+
|  1|Alice|
|  2|  Bob|
|  3|Cathy|
+---+-----+

In [36]:
%%sh
ls /home/jovyan/work/mock_data/sdf_sample_data.csv

/home/jovyan/work/mock_data/sdf_sample_data.csv

In [37]:
df = spark.read.format("csv").option("header",True).load("/home/jovyan/work/mock_data/sdf_sample_data.csv")

In [38]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- accountnumber: string (nullable = true)
 |-- cardnumber: string (nullable = true)

In [39]:
df.show()

+---+----------+---------+--------------------+------------------+
| id|first_name|last_name|       accountnumber|        cardnumber|
+---+----------+---------+--------------------+------------------+
|  1|       Mab| Skedgell|mskedgell0@ebay.c...|    30346456155903|
|  2|   Ingemar|   Trever|itrever1@photobuc...|  5307128006445819|
|  3|  Nicolina|  Hoffman|nhoffman2@omnitur...|677139130397162334|
|  4|    Sidnee|   Debell|sdebell3@theatlan...|  5346587605443900|
|  5|    Hermia| Tredgold|htredgold4@cbsnew...|  3533232169521555|
|  6|      Mina|   Gaspar|    mgaspar5@umn.edu|  3567684140098633|
|  7|    Denyse| Echallie|dechallie6@scienc...|  4913242784447845|
|  8|   Timoteo|  Gallard|tgallard7@cloudfl...|     4409892879585|
|  9|   Laurent|  Roberto|   lroberto8@163.com|676342113473807290|
| 10|   Gwyneth| Holligan|gholligan9@forbes...|  3587354474328974|
| 11|   Katrine|    Dicty|kdictya@thetimes....|  5559855835692147|
| 12|  Frederic|  Ximenez|fximenezb@usnews.com|    30281470749961|
| 13|     Elyse|  Siggins|esigginsc@washing...|  3545493010434127|
| 14|  Carrissa| O'Lunney|colunneyd@shinyst...|670956743164993015|
| 15|     Renie|   Divall| rdivalle@forbes.com|  3567173095665992|
| 16|  Theodore|  Abotson|tabotsonf@nature.com|  4405691751492777|
| 17|  Odelinda|    Joust|ojoustg@google.co...|   374283060812112|
| 18|     Iorgo|   Laurie| ilaurieh@jalbum.net| 50388422756823236|
| 19|      Eryn|  Pimlett|     epimletti@ow.ly|  3541261368276091|
| 20|    Warden|Ivashnyov|wivashnyovj@googl...|  5602242621766996|
+---+----------+---------+--------------------+------------------+
only showing top 20 rows

In [19]:
df.write.mode("append").save("hdfs://namenode:9000//user/jovyan/data/sample_data")

In [41]:
df.write.mode("overwrite").option("path", "hdfs://namenode:9000/user/jovyan/data/sample_data").saveAsTable("sampledatatest")